<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GamePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GamePad.Properties.Settings>
            <setting name="buttonOpacity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="leftButton" serializeAs="String">
                <value>"a"</value>
            </setting>
            <setting name="downButton" serializeAs="String">
                <value>s</value>
            </setting>
            <setting name="rightButton" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="aButton" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="bButton" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="xButton" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="yButton" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="selectButton" serializeAs="String">
                <value>Backspace</value>
            </setting>
            <setting name="startButton" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="l1Button" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="r1Button" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="l2Button" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="r2Button" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="dpadOffset" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="abxyOffset" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="abxyScale" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="dpadScale" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="centerScale" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="lrScale" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="lrOffset" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="centerOffset" serializeAs="String">
                <value>0, 50</value>
            </setting>
            <setting name="scaleSliderVis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hotKey1Button" serializeAs="String">
                <value />
            </setting>
            <setting name="hotKey2Button" serializeAs="String">
                <value />
            </setting>
            <setting name="hotKey3Button" serializeAs="String">
                <value />
            </setting>
            <setting name="hotKeyScale" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="hotKeyOffset" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="upButton" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </GamePad.Properties.Settings>
    </userSettings>
</configuration>